DATABASE_URL=postgresql://DB_USER:PASSWORD@localhost/DB_NAME
SQLALCHEMY_TRACK_MODIFICATIONS=False
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
SECRET_KEY=Access_KeyForPROJECT
DEFAULT_USER=admin
DEFAULT_PASSWORD=admin1234567
ADMIN_EMAIL=admin@example.com